* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}

h2, h3, h4, h5, li, .logo, .left-nav p {
	font-family: 'Quando', serif;
}

p {
	font-family: 'Judson', serif;
}


/**************************** Nav Styles ******************************/

li {
	display: inline;
	list-style: none;
}

li:nth-child(2) {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #6b6b6b;
}

.white {
	color: #fff;
}

.hidden {
	display: none;
}

.nav-container,
.left-nav,
.right-nav {
	display: flex;
	width: 100%;
	padding: 10px;
	align-items: center;
}

.nav-container .logo {
	background: #000;
	color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-nav p {
	margin-left: 5px;
	color: #999;
}

.right-nav {
	justify-content: flex-end;
}

.right-nav li {
	margin-right: 20px;
}

/**************************** About Styles ******************************/

.about-container {
	text-align: center;
	width: 90%;
	margin: 50px auto;
}

.about-container h2 {
	color: #6b6b6b;
	margin-bottom: 20px;
	font-size: 3em;
}

.about-container p {
	color: #999;
	line-height: 23px;
}

/**************************** Interior Styles ******************************/

.interior-container {
	display: flex;
	margin: 0 40px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.interior-container h4 {
	color: #6b6b6b;
	margin: 10px 0;
}

.interior-container p {
	color: #999;
	line-height: 20px;
}

.card1,
.card2,
.card3 {
	flex-basis: 31%;
}

.card1 img,
.card2 img,
.card3 img {
	width: 100%;
	object-fit: cover;
}

/**************************** Our Team Styles ******************************/

.team-container {
	margin: 50px auto;
	text-align: center;
	width: 90%;
}


.team-container h3 {
	color: #6b6b6b;
	margin-bottom: 15px;
	font-size: 2em;
}

.team-container p {
	color: #999;
	line-height: 23px;
	width: 70%;
	margin: 0 auto;
}

/**************************** Team Cards Styles ******************************/

.team-cards-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.team-cards-container img {
	width: 200px;
	height: 200px;
}

.team-cards-container h4 {
	margin: 5px 0;
	color: #6b6b6b;
}

.team-cards-container i {
	font-size: 1.2em;
	color: #999;
	margin-top: 5px;
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
	margin: 0 25px;
}

/**************************** Social Media Styles ******************************/

.social-container {
	display: flex;
	margin: 80px auto 0;
	justify-content: center;
	background-color: #282828;
	color: #777;
	height: 127px;
	align-items: center;
}

.social-container p {
	display: flex;
	flex-basis: 14%;
	align-items: center;
	justify-content: center;
}

.social-container i {
	font-size: 2em;
	margin-right: 10px;
}

.white, .fa-square-instagram {
	color: #fff;
}

/**************************** Contact Styles ******************************/

.contact-container {
	background-color: #282828;
	color: #777;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: space-around;
	padding: 45px 0;
}

.contact-container h5 {
	color: #fff;
	margin-bottom: 15px;
}

.contact-container address {
	line-height: 20px;
}

.contact-container p {
	margin: 5px 0;
}

.email a {
	text-decoration: underline;
}

/**************************** Footer Styles ******************************/


footer {
	background-color: #282828;
	color:#777;
	text-align: center;
	padding: 40px 0 60px;
}

.hr-break {
	display: block;
	content: "";
	height: 1px;
	background-image: linear-gradient(to right, #777, #777);
	margin: 0 50px;
}

footer p {
	margin: 0 auto;
	padding-top: 20px;
	line-height: 30px;
}


@media (max-width: 1200px) {
	
	li {
		display: none;
	}
	
	.hidden, .fa-bars::before {
		display: block;
		font-size: 1.2em;
		text-align: right;
	}

	.interior-container {
		display: block;
	}

.card1,
.card2,
.card3 {
	display: flex;
}

.card1 img,
.card2 img,
.card3 img {
	width: 100%;
	object-fit: cover;
	margin: 0 20px 30px 0;
}

.card1-description, .card2-description, .card3-description {
	padding-left: 20px;
}
}