* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}


/**************************** Nav Styles ******************************/

li {
	display: inline;
	list-style: none;
}

a {
	text-decoration: none;
	color: #6b6b6b;
}

.nav-container, .left-nav, .right-nav {
	display: flex;
	width: 100%;
	padding: 10px;
	align-items: center;
}

.nav-container .logo {
	background: #000;
	color: #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-nav p {
	margin-left: 5px;
	color: #6b6b6b;
}

.right-nav {
	justify-content: flex-end;
}

.right-nav li {
	margin-right: 20px;
}

/**************************** About Styles ******************************/

.about-container {
	text-align: center;
	width: 90%;
	margin: 50px auto;
}

.about-container h2 {
	color: #6b6b6b;
	margin-bottom: 20px;
}

.about-container p {
	color: #6b6b6b;
	line-height: 23px;
}

/**************************** Interior Styles ******************************/

.interior-container {
	display: flex;
	margin: 0 40px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.interior-container h4 {
	color: #6b6b6b;
	margin: 10px 0;
}

.interior-container p {
	color: #999;
	line-height: 20px;
}

.card1, .card2, .card3 {
	flex-basis: 31%;
}

.card1 img, .card2 img, .card3 img {
	width: 100%;
	object-fit: cover;
}

/**************************** Our Team Styles ******************************/

.team-container {
	margin: 50px auto;
	text-align: center;
	width: 90%;
}


.team-container h3 {
	color: #6b6b6b;
	margin-bottom: 30px;
}

.team-container h3:before, .team-container h3:after {
	display: block;
	content: "";
	height: 2px;
	background-image: linear-gradient(to left, #6b6b6b, #6b6b6b);
}

.team-container p {
	color: #6b6b6b;
	line-height: 23px;
}




